#header
{
    width: 100%;
    height: 95px;
    position: fixed;;
    background:#FFF;
    top: 0;
    left: 0;
    z-index: 80;
    box-shadow:         0px 3px 5px 0px rgba(126, 126, 126, 0.4); 
}

#header #wrapper-menu-desk
{
    width: 620px;
    height: 100%;
    float: right;
    z-index: 10;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
}

.menu-item
{
    width:auto;
    height: 55px;
    padding: 20px 5px;
    float: left;
    text-transform: uppercase;
    line-height: 58px;
    font-family: 'Conv_Gotham-Medium';  
    color:#4d4c4d;
    font-size: 15px;
}

.header-btn-copur .div-icon{
  background-image: url(../img/general/menu/btn-copur.png);
}
.header-btn-contour .div-icon{
  background-image: url(../img/general/menu/btn-contour.png);
}
.header-btn-videos .div-icon{
  background-image: url(../img/general/menu/btn-videos.png);
}
.header-btn-destapa .div-icon{
    background-image: url(../img/general/menu/btn-destapa.png);
}
.menu-item-botellita{
    margin-right: -16px;
}
.div-icon
{
    width: 50px;
    height: 50px;
    float: left;
    background-position: 50% 100%;
    -webkit-transition-timing-function: cubic-bezier(0.39, -0.66, 0.55, 3.12);
    transition-timing-function: cubic-bezier(0.39, -0.66, 0.55, 3.12);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background-size: 100%;
}

#wrapper-menu-mobile
{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 11px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    background-image: url(../img/general/menu/mobile/arrow.png);
    background-position: center center;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    font-family: 'Conv_Gotham-Medium';
    color: #4d4c4d;
    font-size: 20px;
    text-transform: uppercase;
    display: none;    
    transition: .3s;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
}

#menu-desplegable
{
    width: 100%;
    height: 0px;
    background: #F1F1F1;
    box-shadow: 0px 3px 5px 0px rgba(126, 126, 126, 0.4);
    overflow: hidden;
    z-index: 10;
    position: absolute;
    top: 95px;
    transition: .3s;
}

.menu-item:hover .div-icon-desktop {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
    -webkit-transition-timing-function: cubic-bezier(0.39, -0.66, 0.59, 1.74);
    transition-timing-function: cubic-bezier(0.39, -0.66, 0.59, 1.74);
}

#header > img {}
div#wrapper-menu-mobile.open {
    background-image: url(../img/general/menu/mobile/arrow-up.png);
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.menu-item:hover .div-icon {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
    -webkit-transition-timing-function: cubic-bezier(0.39, -0.66, 0.59, 1.74);
    transition-timing-function: cubic-bezier(0.39, -0.66, 0.59, 1.74);
}

.btn_menu_selected{
  color: rgb(229, 25, 45) !important;
  background-position: top;
}
.menu-item span{
    float:left;
}

@media (max-width: 1390px) {
    .menu-item
    {
        font-size: 12px;
    }
    #header #wrapper-menu-desk {
        width: 538px;
    }
    .menu-item-botellita{}
}


@media (max-width: 1290px) {
    .menu-item
    {
        font-size: 12px;
    }
    #header #wrapper-menu-desk {
        width: 536px;
    }
    .menu-item-botellita{
    margin-right: -16px;
}
}
@media (max-width: 1240px) {
    .menu-item
    {
        font-size: 10px;
    }
    #header #wrapper-menu-desk {
        width: 475px;
    }
    .menu-item-botellita{
    margin-right: -18px;
}
}
@media (max-width: 1125px) {
    
    #wrapper-menu-desk{
        display: none;
    }
    #wrapper-menu-mobile{
        display:block;
    }
    div#menu-desplegable.open {
        display: block;
        height: 153px;
    }

    .menu-item
    {
        font-size: 17px;
        width: 100%;   height: 50px;   border-bottom: #898889 solid 1px;   float: left;   text-transform: uppercase;   line-height: 58px;   font-family: 'Conv_Gotham-Medium';   color: #4d4c4d;   
        padding: 0;   
        padding-left: 19px;   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
       
    }
    .menu-item-botellita{}

}

@media (max-width: 1034px) {
    #header, #header > img{
        height: 65px;
    }
    #menu-desplegable{
        top:65px;
    }
    .menu-item-botellita{}
}

@media (max-width: 640px) {

    #header, #header > img{
        height: 45px;
    }
     #menu-desplegable{
        top:45px;
    }
    #wrapper-menu-mobile{
        right: 0px;      
    }
    .menu-item-botellita{}
    
}